./intro-react-project/node-modules
./week2-fe-lab2/node-modules
./week2-fe-lab3/node-modules
./week2-fe-lab4/node-modules
./week2-fe-lab5/node-modules
./week2-fe-lab6/node-modules
./week2-fe-lab7/node-modules
./week2-fe-lab8/node-modules